<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <RollingFile name="fileLogger"
                     fileName="log/am2cm-diff.log"
                     filePattern="log/diff-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.cloudera.migration.diff" level="info" additivity="false">
            <AppenderRef ref="fileLogger"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="fileLogger"/>
        </Root>
    </Loggers>
</Configuration>