services: [SOLR]
configs:
  SOLR:
    SERVICEWIDE:
      hdfs_service: "{{ hdfs_service_name }}"
      zookeeper_service: "{{ zookeeper_service_name }}"
roles:
  SOLR:
    SOLR_SERVER: {{ solr_server_hosts }}
